In [1]:
import pandas as pd

In [2]:
stops_df=pd.read_csv("gtfs/stops.txt")

In [3]:
stops_df.head()

        stop_id                    stop_name   stop_lat  stop_lon
0  8220DB000002  Parnell Square West, stop 2  53.352244 -6.263723
1  8220DB000003  Parnell Square West, stop 3  53.352309 -6.263811
2  8220DB000004  Parnell Square West, stop 4  53.352575 -6.264175
3  8220DB000006  Parnell Square West, stop 6  53.352749 -6.264454
4  8220DB000007  Parnell Square West, stop 7  53.352841 -6.264570

In [4]:
times_df=pd.read_csv("gtfs/stop_times.txt")

In [5]:
times_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,1.1.60-39A-b12-1.205.I,07:55:00,07:55:00,8240DB007158,1,UCD,0,0,0.00
1,1.1.60-39A-b12-1.205.I,07:55:43,07:55:43,8240DB007048,2,UCD,0,0,750698.41
2,1.1.60-39A-b12-1.205.I,07:56:27,07:56:27,8240DB007699,3,UCD,0,0,1501239.38
3,1.1.60-39A-b12-1.205.I,07:56:54,07:56:54,8240DB007159,4,UCD,0,0,2251660.48
4,1.1.60-39A-b12-1.205.I,07:57:13,07:57:13,8240DB007388,5,UCD,0,0,3001993.17

In [6]:
times_df.shape

(1573337, 9)

In [7]:
trips_df=pd.read_csv("gtfs/trips.txt")

In [8]:
trips_df.head()

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,60-11-b12-1,1,3271.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1
1,60-11-b12-1,1,3272.1.60-11-b12-1.15.O,60-11-b12-1.15.O,Saint Pappin's Road - Blackthorn Drive (Blackt...,0
2,60-11-b12-1,1,3273.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1
3,60-11-b12-1,1,3274.1.60-11-b12-1.15.O,60-11-b12-1.15.O,Saint Pappin's Road - Blackthorn Drive (Blackt...,0
4,60-11-b12-1,1,3275.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1

In [9]:
trips_df.shape

(27529, 6)

In [20]:
trips_df.service_id.unique()

array(['1', '3', 'y1003', 'y1002', 'y1001'], dtype=object)

service ID is reference to calendar.txt and calendar_dates.txt files, which specify on which date the service is used

In [24]:
calendar_df=pd.read_csv("gtfs/calendar.txt")

In [25]:
calendar_df.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1,0,0,1,1,1,0,0,20200715,20200718
1,3,0,0,0,0,0,1,0,20200715,20200718
2,y1001,0,0,0,0,0,1,0,20200719,20200815
3,y1002,1,1,1,1,1,0,0,20200719,20200815
4,y1003,1,0,0,0,0,0,1,20200719,20200815

In [26]:
exceptions_df=pd.read_csv("gtfs/calendar_dates.txt")

In [27]:
exceptions_df.head()

  service_id      date  exception_type
0      y1002  20200803               2
1      y1003  20200720               2
2      y1003  20200727               2
3      y1003  20200810               2

In [10]:
routes_df=pd.read_csv("gtfs/routes.txt")

In [11]:
routes_df.head()

       route_id  agency_id route_short_name  route_long_name  route_type
0    60-1-b12-1        978                1              NaN           3
1  60-102-b12-1        978              102              NaN           3
2  60-104-b12-1        978              104              NaN           3
3   60-11-b12-1        978               11              NaN           3
4  60-111-b12-1        978              111              NaN           3

In [12]:
routes_df.shape

(276, 5)

In [13]:
routes_df.agency_id.unique()

array([978], dtype=int64)

In [14]:
routes_df.route_long_name.isna().sum()

276

In [15]:
routes_df.route_short_name.isna().sum()

0

In [16]:
routes_df.route_type.unique()

array([3], dtype=int64)

In [17]:
routes_df=routes_df.drop(["agency_id","route_type","route_long_name"],axis=1)

In [18]:
routes_df.head()

       route_id route_short_name
0    60-1-b12-1                1
1  60-102-b12-1              102
2  60-104-b12-1              104
3   60-11-b12-1               11
4  60-111-b12-1              111