In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import numpy as np

from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from config import config

In [2]:
config=config()

In [3]:
print(config)

{'host': 'localhost', 'database': 'postgres', 'user': 'postgres', 'password': 'super_pw'}

In [2]:
engine=create_engine("postgresql://postgres:super_pw@localhost/postgres")

In [3]:
sql="SELECT lt.daystamp, lt.trip_id, lt.stoppoint_id,lt.departure_time_p,lt.departure_time_a,trips.departure_time_p,trips.departure_time_a,line_id,route_id,weather_main,temp FROM leavetimes AS lt, trips, weather WHERE trips.line_id='46A' AND trips.direction=1 AND lt.daystamp = trips.daystamp AND lt.trip_id = trips.trip_id AND lt.weather_id = weather.daytime"

In [4]:
df = pd.read_sql(sql,engine)

In [5]:
df.shape

(846260, 11)

In [6]:
df.head()

,daystamp,trip_id,stoppoint_id,departure_time_p,departure_time_a,departure_time_p,departure_time_a,line_id,route_id,weather_main,temp
0,1517961600,6253924,807,60960,60926,60960,60926.0,46A,74,Rain,3.08
1,1517961600,6253924,808,61053,61036,60960,60926.0,46A,74,Rain,3.08
2,1517961600,6253924,809,61107,61114,60960,60926.0,46A,74,Rain,3.08
3,1517961600,6253924,810,61193,61215,60960,60926.0,46A,74,Rain,3.08
4,1517961600,6253924,811,61246,61254,60960,60926.0,46A,74,Rain,3.08

In [7]:
df.columns=["daystamp","trip_id","stop_id","dep_p","dep_a","start_p","start_a","line_id","route_id","weather","temp"]

In [8]:
df.head()

,daystamp,trip_id,stop_id,dep_p,dep_a,start_p,start_a,line_id,route_id,weather,temp
0,1517961600,6253924,807,60960,60926,60960,60926.0,46A,74,Rain,3.08
1,1517961600,6253924,808,61053,61036,60960,60926.0,46A,74,Rain,3.08
2,1517961600,6253924,809,61107,61114,60960,60926.0,46A,74,Rain,3.08
3,1517961600,6253924,810,61193,61215,60960,60926.0,46A,74,Rain,3.08
4,1517961600,6253924,811,61246,61254,60960,60926.0,46A,74,Rain,3.08

In [9]:
def daystamp_converter(time):
    date=datetime.fromtimestamp(time)
    return (date.weekday(),date.month,date.hour)

In [10]:
df["datetime"]=df.daystamp.values+df.dep_p.values

In [11]:
df["weekday"],df["month"],df["hour"]=zip(*df['datetime'].apply(daystamp_converter))

In [12]:
df.head()

,daystamp,trip_id,stop_id,dep_p,dep_a,start_p,start_a,line_id,route_id,weather,temp,datetime,weekday,month,hour
0,1517961600,6253924,807,60960,60926,60960,60926.0,46A,74,Rain,3.08,1518022560,2,2,16
1,1517961600,6253924,808,61053,61036,60960,60926.0,46A,74,Rain,3.08,1518022653,2,2,16
2,1517961600,6253924,809,61107,61114,60960,60926.0,46A,74,Rain,3.08,1518022707,2,2,16
3,1517961600,6253924,810,61193,61215,60960,60926.0,46A,74,Rain,3.08,1518022793,2,2,16
4,1517961600,6253924,811,61246,61254,60960,60926.0,46A,74,Rain,3.08,1518022846,2,2,17

In [13]:
df["dur_s"]=df.dep_p.values-df.start_p.values
df["dur_a"]=df.dep_a.values-df.start_a.values

In [14]:
df_ml=df.drop(["daystamp","trip_id","dep_p","dep_a","start_p","start_a","datetime"],axis=1)

Filter out unusual routes:

In [15]:
route_counts=df_ml.route_id.value_counts()
indices=route_counts.index
values=route_counts.values
cum_value=0
size=df_ml.shape[0]
index=1
for value in values:
    cum_value+=value
    ratio=cum_value/size
    print(f"{index} most common route(s) cover {ratio*100:.2f}% of the routes.")
    if(ratio>0.8):
        break
    index+=1

1 most common route(s) cover 97.22% of the routes.

In [16]:
routes=indices[:index]
routes

Int64Index([74], dtype='int64')

In [17]:
df_ml=df_ml[df_ml.route_id.isin(routes)]

In [18]:
df_ml.shape

(822694, 10)

Check for null values

In [19]:
df_ml.isnull().sum()

stop_id         0
line_id         0
route_id        0
weather         0
temp            0
weekday         0
month           0
hour            0
dur_s           0
dur_a       18204
dtype: int64

In [20]:
df_ml.isnull().sum().sum()/df_ml.shape[0]

0.022127303711951225

In [21]:
df_ml = df_ml.dropna(axis = 0, how ='any')

See how resulting stops line up:

In [22]:
stop_counts=df_ml.stop_id.value_counts()

In [23]:
stop_counts

807     14066
81      13857
813     13846
810     13846
811     13845
812     13842
809     13841
814     13839
818     13813
817     13803
819     13801
264     13785
758     13784
757     13775
808     13773
756     13767
847     13763
759     13759
848     13759
334     13758
406     13752
2795    13744
846     13729
6059    13720
747     13705
842     13685
845     13678
2007    13636
2009    13635
435     13621
2010    13619
2008    13619
7353    13578
760     13571
4571    13531
4636    13521
2013    13520
2016    13514
2020    13512
2014    13511
2017    13508
2018    13506
2039    13502
2022    13500
4565    13498
4567    13497
2015    13496
4566    13496
2019    13495
2021    13492
2032    13491
2031    13483
2034    13479
2035    13469
2033    13468
763     13446
762     13421
2036    13355
761     13165
Name: stop_id, dtype: int64

Finally, drop line_id and route_id (both have cardinality 1 at this point)

In [24]:
df_ml=df_ml.drop(["line_id","route_id"],axis=1)

In [25]:
df_ml.head()

   stop_id weather  temp  weekday  month  hour  dur_s  dur_a
0      807    Rain  3.08        2      2    16      0    0.0
1      808    Rain  3.08        2      2    16     93  110.0
2      809    Rain  3.08        2      2    16    147  188.0
3      810    Rain  3.08        2      2    16    233  289.0
4      811    Rain  3.08        2      2    17    286  328.0

In [26]:
df_ml_810=df[df.stop_id==810]

In [31]:
df_ml_810

,daystamp,trip_id,stop_id,dep_p,dep_a,start_p,start_a,line_id,route_id,weather,temp,datetime,weekday,month,hour,dur_s,dur_a
3,1517961600,6253924,810,61193,61215,60960,60926.0,46A,74,Rain,3.08,1518022793,2,2,16,233,289.0
62,1517961600,6262164,810,24694,24930,24480,24697.0,46A,74,Clouds,-1.60,1517986294,2,2,6,214,233.0
121,1520726400,6397655,810,83817,83837,83700,83653.0,46A,74,Rain,6.99,1520810217,6,3,23,117,184.0
180,1520726400,6392156,810,77517,77506,77400,77400.0,46A,74,Rain,6.99,1520803917,6,3,21,117,106.0
239,1520726400,6392515,810,75717,75740,75600,75633.0,46A,74,Clouds,6.95,1520802117,6,3,21,117,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845995,1525215600,6661770,810,73973,73900,73800,73806.0,46A,74,Clouds,8.18,1525289573,2,5,20,173,94.0
846010,1527375600,6838615,810,82019,81997,81900,81884.0,46A,74,Clouds,13.30,1527457619,6,5,22,119,113.0
846019,1527375600,6834430,810,69454,69648,69300,69420.0,46A,74,Clouds,16.16,1527445054,6,5,19,154,228.0
846111,1527375600,6841639,810,71254,71220,71100,71104.0,46A,74,Clouds,16.12,1527446854,6,5,19,154,116.0
846163,1527375600,6838613,810,73054,73149,72900,72916.0,46A,74,Clouds,16.12,1527448654,6,5,20,154,233.0

In [33]:
df_weekday=pd.get_dummies(df_ml.weekday)
df_month=pd.get_dummies(df_ml.month)
df_hour=pd.get_dummies(df_ml.hour)
df_weather=pd.get_dummies(df_ml.weather)
df_stops=pd.get_dummies(df_ml.stop_id)

In [35]:
#trying to predict dur_s
y_prior=df_ml["dur_s"]
df_test_prior=pd.concat([df_weekday,df_month,df_hour,df_stops],axis=1)
X=df_test_prior
X_train,X_test,y_train,y_test=train_test_split(X,y_prior,random_state=1)
regr_relu=MLPRegressor(activation="relu",random_state=1, max_iter=100, verbose=1).fit(X_train, y_train)

Iteration 1, loss = 1473474.71818916
Iteration 2, loss = 71537.61385757
Iteration 3, loss = 30301.03353516
Iteration 4, loss = 30074.95613245
Iteration 5, loss = 29754.17051757
Iteration 6, loss = 29017.42552239
Iteration 7, loss = 27655.04655788
Iteration 8, loss = 25951.16837803
Iteration 9, loss = 24328.44739158
Iteration 10, loss = 22920.27918488
Iteration 11, loss = 21781.92184747
Iteration 12, loss = 20870.79341905
Iteration 13, loss = 19741.30282899
Iteration 14, loss = 17775.62654139
Iteration 15, loss = 15940.95709843
Iteration 16, loss = 14762.55091107
Iteration 17, loss = 13975.95417837
Iteration 18, loss = 13386.53698139
Iteration 19, loss = 12916.72066950
Iteration 20, loss = 12537.54644560
Iteration 21, loss = 12239.41250171
Iteration 22, loss = 12024.51198073
Iteration 23, loss = 11861.87884484
Iteration 24, loss = 11742.29621104
Iteration 25, loss = 11649.07811976
Iteration 26, loss = 11560.61593871
Iteration 27, loss = 11478.33028966
Iteration 28, loss = 11397.36019312
Iteration 29, loss = 11315.01516248
Iteration 30, loss = 11230.86262613
Iteration 31, loss = 11156.37360340
Iteration 32, loss = 11089.10637234
Iteration 33, loss = 11028.47668475
Iteration 34, loss = 10972.86941012
Iteration 35, loss = 10921.09928232
Iteration 36, loss = 10871.06418779
Iteration 37, loss = 10830.43648555
Iteration 38, loss = 10792.50941409
Iteration 39, loss = 10761.37601656
Iteration 40, loss = 10734.51008821
Iteration 41, loss = 10708.33939158
Iteration 42, loss = 10686.59961395
Iteration 43, loss = 10666.79931664
Iteration 44, loss = 10649.68284722
Iteration 45, loss = 10633.65479074
Iteration 46, loss = 10619.65160581
Iteration 47, loss = 10605.07627145
Iteration 48, loss = 10592.38451432
Iteration 49, loss = 10579.46679582
Iteration 50, loss = 10568.07230002
Iteration 51, loss = 10557.49719647
Iteration 52, loss = 10545.23520367
Iteration 53, loss = 10534.95381560
Iteration 54, loss = 10524.63479993
Iteration 55, loss = 10515.03499999
Iteration 56, loss = 10505.61788156
Iteration 57, loss = 10495.48605555
Iteration 58, loss = 10486.37066978
Iteration 59, loss = 10478.58911824
Iteration 60, loss = 10469.98498076
Iteration 61, loss = 10462.18840065
Iteration 62, loss = 10453.83951711
Iteration 63, loss = 10449.07790674
Iteration 64, loss = 10442.27278786
Iteration 65, loss = 10435.60309734
Iteration 66, loss = 10429.03730380
Iteration 67, loss = 10422.65256791
Iteration 68, loss = 10417.74732555
Iteration 69, loss = 10412.82772718
Iteration 70, loss = 10407.06455823
Iteration 71, loss = 10403.36423568
Iteration 72, loss = 10397.20428210
Iteration 73, loss = 10392.59579564
Iteration 74, loss = 10389.99819210
Iteration 75, loss = 10384.72489891
Iteration 76, loss = 10379.84016629
Iteration 77, loss = 10376.22213962
Iteration 78, loss = 10371.70486362
Iteration 79, loss = 10368.71862475
Iteration 80, loss = 10364.41069150
Iteration 81, loss = 10361.85859625
Iteration 82, loss = 10357.03176339
Iteration 83, loss = 10354.52440217
Iteration 84, loss = 10349.83750331
Iteration 85, loss = 10347.22066082
Iteration 86, loss = 10344.09032640
Iteration 87, loss = 10340.27232719
Iteration 88, loss = 10337.54119816
Iteration 89, loss = 10335.05861399
Iteration 90, loss = 10331.86770223
Iteration 91, loss = 10329.16608595
Iteration 92, loss = 10324.71297331
Iteration 93, loss = 10323.19281659
Iteration 94, loss = 10320.67941514
Iteration 95, loss = 10318.38516699
Iteration 96, loss = 10315.58218401
Iteration 97, loss = 10312.31936371
Iteration 98, loss = 10310.67622812
Iteration 99, loss = 10307.24487641
Iteration 100, loss = 10304.65297009

c:\python38\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [36]:
regr_relu.score(X_test, y_test)

0.9881124114587736

Above's neural network took about 10 mins to train. If schedule info isn't available elsewhere, we could use one predictor for the scheduled time and a second for the actual after the scheduled time was predicted.

In [40]:
reg = LinearRegression().fit(X_train, y_train)

In [41]:
reg.score(X_test, y_test)

0.9653054039628538

For comparison, a linear regressor takes about 5 secs to train and make predictions

In [42]:
y=df_ml["dur_a"]
df_test=df_ml.drop(["stop_id","weather","dur_a"],axis=1)

In [43]:
df_test.head()

   temp  weekday  month  hour  dur_s
0  3.08        2      2    16      0
1  3.08        2      2    16     93
2  3.08        2      2    16    147
3  3.08        2      2    16    233
4  3.08        2      2    17    286

In [45]:
df_test=df_test.drop(["weekday","month","hour"],axis=1)

In [46]:
df_test=pd.concat([df_test,df_weather,df_weekday,df_month,df_hour],axis=1)

In [47]:
df_test.shape

(804490, 42)

In [48]:
X=df_test

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [50]:
regr_relu=MLPRegressor(activation="relu",random_state=1, max_iter=100, verbose=1).fit(X_train, y_train)

Iteration 1, loss = 119204.66950077
Iteration 2, loss = 71929.71894800
Iteration 3, loss = 70293.85671083
Iteration 4, loss = 69369.41826543
Iteration 5, loss = 68973.24066100
Iteration 6, loss = 68594.58577374
Iteration 7, loss = 68641.13589531
Iteration 8, loss = 68392.02902936
Iteration 9, loss = 68335.92583998
Iteration 10, loss = 68103.48492222
Iteration 11, loss = 68105.74877054
Iteration 12, loss = 67933.58056800
Iteration 13, loss = 67843.77519515
Iteration 14, loss = 67728.06374080
Iteration 15, loss = 67692.75523335
Iteration 16, loss = 67499.14183942
Iteration 17, loss = 67448.09497662
Iteration 18, loss = 67436.78215532
Iteration 19, loss = 67222.37520219
Iteration 20, loss = 67137.80627570
Iteration 21, loss = 67196.58358438
Iteration 22, loss = 67033.63211109
Iteration 23, loss = 66910.67694706
Iteration 24, loss = 66881.95982112
Iteration 25, loss = 66881.48469560
Iteration 26, loss = 66880.34302119
Iteration 27, loss = 66716.85660354
Iteration 28, loss = 66619.22348658
Iteration 29, loss = 66537.88071734
Iteration 30, loss = 66480.67243736
Iteration 31, loss = 66373.19361085
Iteration 32, loss = 66251.50390305
Iteration 33, loss = 66044.49694156
Iteration 34, loss = 65991.00653386
Iteration 35, loss = 65972.15105633
Iteration 36, loss = 65815.65850658
Iteration 37, loss = 65691.06418660
Iteration 38, loss = 65595.13145888
Iteration 39, loss = 65539.26826777
Iteration 40, loss = 65404.73892544
Iteration 41, loss = 65414.69668229
Iteration 42, loss = 65232.29701113
Iteration 43, loss = 65127.84154207
Iteration 44, loss = 65199.52515451
Iteration 45, loss = 65134.25147590
Iteration 46, loss = 65002.00976369
Iteration 47, loss = 64949.17829477
Iteration 48, loss = 64888.20982345
Iteration 49, loss = 64797.95074004
Iteration 50, loss = 64729.77208113
Iteration 51, loss = 64655.23730030
Iteration 52, loss = 64625.80672477
Iteration 53, loss = 64575.01088464
Iteration 54, loss = 64524.54515629
Iteration 55, loss = 64453.23970335
Iteration 56, loss = 64432.86463242
Iteration 57, loss = 64291.93043614
Iteration 58, loss = 64287.23487966
Iteration 59, loss = 64256.15623977
Iteration 60, loss = 64191.44883358
Iteration 61, loss = 64117.07023442
Iteration 62, loss = 63996.23290092
Iteration 63, loss = 63985.79164386
Iteration 64, loss = 63853.27609255
Iteration 65, loss = 63838.06038566
Iteration 66, loss = 63723.13718230
Iteration 67, loss = 63734.14773537
Iteration 68, loss = 63627.53425031
Iteration 69, loss = 63634.94201617
Iteration 70, loss = 63466.51954929
Iteration 71, loss = 63482.91462773
Iteration 72, loss = 63460.89032048
Iteration 73, loss = 63390.37503714
Iteration 74, loss = 63347.12513113
Iteration 75, loss = 63313.96468901
Iteration 76, loss = 63247.53390624
Iteration 77, loss = 63211.04032061
Iteration 78, loss = 63133.40103813
Iteration 79, loss = 63166.38412976
Iteration 80, loss = 63119.93554209
Iteration 81, loss = 63069.11064477
Iteration 82, loss = 63107.44917074
Iteration 83, loss = 63073.40372771
Iteration 84, loss = 63036.18800973
Iteration 85, loss = 62947.96813201
Iteration 86, loss = 62828.39424297
Iteration 87, loss = 62810.93979634
Iteration 88, loss = 62785.42903827
Iteration 89, loss = 62707.00105439
Iteration 90, loss = 62632.11942615
Iteration 91, loss = 62609.75908696
Iteration 92, loss = 62588.23624031
Iteration 93, loss = 62476.56840545
Iteration 94, loss = 62482.05395513
Iteration 95, loss = 62390.96371203
Iteration 96, loss = 62383.27385834
Iteration 97, loss = 62314.27883623
Iteration 98, loss = 62290.07321483
Iteration 99, loss = 62175.58465785
Iteration 100, loss = 62188.07046073

c:\python38\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [51]:
regr_relu.score(X_test, y_test)

0.9376675098304893

Model above took about 12 mins to train

First model try took almost 2 hours to run, good starting value, but below 64k after around 100 iterations and ended up at 61k, converging after 430 iterations. accuracy of 0.937145. That model included stop_id dummy encoded and day instead of workday. none of the dates were dummy encoded.