In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("stops.txt")

          stop_lat     stop_lon
count  4199.000000  4199.000000
mean     53.340454    -6.277666
std       0.074221     0.109493
min      53.070678    -6.614865
25%      53.296063    -6.345372
50%      53.342021    -6.269540
75%      53.383507    -6.204974
max      53.606196    -6.053311

In [6]:
df.shape

(4199, 4)

In [7]:
df.head()

        stop_id                    stop_name   stop_lat  stop_lon
0  8220DB000002  Parnell Square West, stop 2  53.352244 -6.263723
1  8220DB000003  Parnell Square West, stop 3  53.352309 -6.263811
2  8220DB000004  Parnell Square West, stop 4  53.352575 -6.264175
3  8220DB000006  Parnell Square West, stop 6  53.352749 -6.264454
4  8220DB000007  Parnell Square West, stop 7  53.352841 -6.264570

In [8]:
id_length=[]
for row in df.stop_id:
    id_length.append(len(row))

In [9]:
len(id_length)

4199

In [10]:
min(id_length)

11

In [11]:
max(id_length)

12

In [12]:
name_length=[]
for row in df.stop_name:
    name_length.append(len(row))

In [13]:
len(name_length)

4199

In [14]:
min(name_length)

13

In [15]:
max(name_length)

34

In [16]:
df.iloc[0]

stop_id                     8220DB000002
stop_name    Parnell Square West, stop 2
stop_lat                         53.3522
stop_lon                        -6.26372
Name: 0, dtype: object

In [21]:
df.iloc[0]["stop_id"]

'8220DB000002'

In [23]:
df.shape[0]

4199