In [21]:
import requests
import pandas as pd

In [2]:
url="https://api.transitfeeds.com/v1/getLocations"

In [4]:
params={
    "key":"3abc89a4-1439-467f-9d82-218f2c608ae0"
}

In [5]:
response=requests.get(url=url,params=params)
transit_cities=response.json()

In [9]:
for city in transit_cities["results"]["locations"]:
    if city["t"]=="Dublin, Ireland":
        print(city)
        break

{'id': 579, 'pid': 578, 't': 'Dublin, Ireland', 'n': 'Dublin', 'lat': 53.349805, 'lng': -6.26031}

In [14]:
url="https://api.transitfeeds.com/v1/getFeeds"
params={
    "key":"3abc89a4-1439-467f-9d82-218f2c608ae0",
    "location":city["id"],
    "descendants":1,
    "page":1,
    "limit":10
}

In [15]:
response=requests.get(url=url,params=params)

In [16]:
dublin_feeds=response.json()

In [17]:
dublin_feeds

{'status': 'OK',
 'ts': 1596472528,
 'results': {'total': 3,
  'limit': 10,
  'page': 1,
  'numPages': 1,
  'feeds': [{'id': 'transport-for-ireland/1045',
    'ty': 'gtfs',
    't': 'LUAS GTFS',
    'l': {'id': 579,
     'pid': 578,
     't': 'Dublin, Ireland',
     'n': 'Dublin',
     'lat': 53.349805,
     'lng': -6.26031},
    'u': {'i': 'https://www.transportforireland.ie/transitData/PT_Data.html',
     'd': 'https://www.transportforireland.ie/transitData/google_transit_luas.zip'},
    'latest': {'ts': 1576093166}},
   {'id': 'transport-for-ireland/1044',
    'ty': 'gtfs',
    't': 'Go Ahead Ireland GTFS',
    'l': {'id': 579,
     'pid': 578,
     't': 'Dublin, Ireland',
     'n': 'Dublin',
     'lat': 53.349805,
     'lng': -6.26031},
    'u': {'i': 'https://data.gov.ie/pages/opendatalicence'},
    'latest': {'ts': 1591809086}},
   {'id': 'transport-for-ireland/782',
    'ty': 'gtfs',
    't': 'Dublin Bus GTFS',
    'l': {'id': 579,
     'pid': 578,
     't': 'Dublin, Ireland',
     'n': 'Dublin',
     'lat': 53.349805,
     'lng': -6.26031},
    'u': {'d': 'http://www.transportforireland.ie/transitData/google_transit_dublinbus.zip'},
    'latest': {'ts': 1596107610}}]}}

In [20]:
for feed in dublin_feeds["results"]["feeds"]:
    if "Dublin Bus" in feed["t"]:
        print(feed)
        break

{'id': 'transport-for-ireland/782', 'ty': 'gtfs', 't': 'Dublin Bus GTFS', 'l': {'id': 579, 'pid': 578, 't': 'Dublin, Ireland', 'n': 'Dublin', 'lat': 53.349805, 'lng': -6.26031}, 'u': {'d': 'http://www.transportforireland.ie/transitData/google_transit_dublinbus.zip'}, 'latest': {'ts': 1596107610}}

In [22]:
stops_df=pd.read_csv("gtfs/stops.txt")

In [23]:
stops_df.head()

        stop_id                    stop_name   stop_lat  stop_lon
0  8220DB000002  Parnell Square West, stop 2  53.352244 -6.263723
1  8220DB000003  Parnell Square West, stop 3  53.352309 -6.263811
2  8220DB000004  Parnell Square West, stop 4  53.352575 -6.264175
3  8220DB000006  Parnell Square West, stop 6  53.352749 -6.264454
4  8220DB000007  Parnell Square West, stop 7  53.352841 -6.264570

In [24]:
times_df=pd.read_csv("gtfs/stop_times.txt")

In [25]:
times_df.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,1.1.60-39A-b12-1.205.I,07:55:00,07:55:00,8240DB007158,1,UCD,0,0,0.00
1,1.1.60-39A-b12-1.205.I,07:55:43,07:55:43,8240DB007048,2,UCD,0,0,750698.41
2,1.1.60-39A-b12-1.205.I,07:56:27,07:56:27,8240DB007699,3,UCD,0,0,1501239.38
3,1.1.60-39A-b12-1.205.I,07:56:54,07:56:54,8240DB007159,4,UCD,0,0,2251660.48
4,1.1.60-39A-b12-1.205.I,07:57:13,07:57:13,8240DB007388,5,UCD,0,0,3001993.17

In [26]:
times_df.shape

(1573337, 9)

In [27]:
trips_df=pd.read_csv("gtfs/trips.txt")

In [29]:
trips_df.head()

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,60-11-b12-1,1,3271.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1
1,60-11-b12-1,1,3272.1.60-11-b12-1.15.O,60-11-b12-1.15.O,Saint Pappin's Road - Blackthorn Drive (Blackt...,0
2,60-11-b12-1,1,3273.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1
3,60-11-b12-1,1,3274.1.60-11-b12-1.15.O,60-11-b12-1.15.O,Saint Pappin's Road - Blackthorn Drive (Blackt...,0
4,60-11-b12-1,1,3275.1.60-11-b12-1.16.I,60-11-b12-1.16.I,Blackthorn Road - Saint Pappin's Road,1

In [31]:
trips_df.shape

(27529, 6)

In [33]:
routes_df=pd.read_csv("gtfs/routes.txt")

In [35]:
routes_df.head()

       route_id  agency_id route_short_name  route_long_name  route_type
0    60-1-b12-1        978                1              NaN           3
1  60-102-b12-1        978              102              NaN           3
2  60-104-b12-1        978              104              NaN           3
3   60-11-b12-1        978               11              NaN           3
4  60-111-b12-1        978              111              NaN           3

In [37]:
routes_df.shape

(276, 5)

In [38]:
routes_df.agency_id.unique()

array([978], dtype=int64)

In [40]:
routes_df.route_long_name.isna().sum()

276

In [42]:
routes_df.route_short_name.isna().sum()

0

In [43]:
routes_df.route_type.unique()

array([3], dtype=int64)

In [45]:
routes_df=routes_df.drop(["agency_id","route_type","route_long_name"],axis=1)

In [47]:
routes_df.head()

       route_id route_short_name  route_long_name
0    60-1-b12-1                1              NaN
1  60-102-b12-1              102              NaN
2  60-104-b12-1              104              NaN
3   60-11-b12-1               11              NaN
4  60-111-b12-1              111              NaN